.section-hero-banner {
  padding: 35px 0 300px 300px;
  background: url(../../images/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #a9a6a6;
  font-size: 20px;
  .breadcrumb {
    @include flex-style(flex, true, true, true);
  }
  .breadcrumb-link {
    font: {
      family: map-get($map: $font, $key: primary);
      size: map-get($map: $font-size, $key: xs);
    }
    text-transform: uppercase;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    content: "\00a0/\00a0";
    color: black;
    margin: 0 10px;
  }
}
