.btn {
  padding: 10px 20px;
  cursor: pointer;
  font-size: map-get($map: $font-size, $key: xs);
  color: map-get($map: $color, $key: normal);
  border-radius: 5px;
  &-primary {
    background-color: map-get($map: $btn-color, $key: primary);
    &:hover {
      background-color: map-get($map: $btn-color, $key: hover);
    }
    &:active {
      transition: all 0s ease 0s;
      background-color: map-get($map: $btn-color, $key: active);
    }
  }
}
