.section-wrap {
  padding: 50px 0;
}

.wrap-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid map-get($map: $btn-color, $key: primary);
  .more {
    display: flex;
    align-items: center;
    &:hover {
      color: map-get($map: $color, $key: hover);
    }
  }
  .fa-long-arrow-right {
    font-size: x-large;
    margin-left: 15px;
  }
}
