.section-main-content {
  margin-top: 65px;
  .block {
    margin-bottom: 42px;
    background-color: map-get($map: $bg-color, $key: normal);
    &-title {
      padding-bottom: 20px;
      font: {
        family: map-get($map: $font, $key: primary);
        size: map-get($map: $font-size, $key: xxl);
      }
      text-transform: uppercase;
    }
    &-title::after {
      content: "";
      display: block;
      width: 68px;
      padding-top: 18px;
      border-bottom: 1px solid map-get($map: $bd-color, $key: primary);
    }
    .categorise-title {
      @include flex-style(flex, true, true, true);
      text-transform: uppercase;
      font: {
        family: map-get($map: $font, $key: primary);
      }
      padding-left: 20px;
      height: 50px;
    }
    .categorise-title::after {
      content: "\2212";
      margin-left: auto;
      margin-right: 20px;
    }
    .categorise-item-list {
      padding: 12px 17px 15px 19px;
      background-color: map-get($map: $bg-color, $key: accent);
    }
    .categorise-item-detail {
      list-style-position: inside;
      padding: 6px 0;
      &::before {
        content: "\2022";
        margin-right: 4px;
        color: map-get($map: $color, $key: normal);
      }
    }
    .categorise-item-link {
      font: {
        family: map-get($map: $font, $key: primary);
        size: map-get($map: $font-size, $key: xs);
      }
      line-height: normal;
      text-decoration: none;
      color: map-get($map: $color, $key: normal);
    }
    &-booking {
      padding: 25px 20px 20px 20px;
    }
  }
}
.section-wrap {
  padding: 50px 0;
}
