.product {
  &-list {
    padding-left: 20px;
    padding-right: 20px;
    @include flex-style(flex, true, true, true);
    flex-wrap: wrap;
  }
  &-item {
    padding: 20px 10px;
  }
  &-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid map-get($map: $bd-color, $key: default);
    border-radius: 10px;
    // box-shadow: 0px 0px 5px 0px #b3b3b3;
    // box-sizing: border-box;
    &:hover {
      box-shadow: 0px 0px 5px 2px #888888;
    }
    .fa-heart {
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: x-large;
      color: #e8e5e5;
      &:hover {
        cursor: pointer;
      }
      &.active {
        color: #f13636ea;
      }
    }
  }
  &-image {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  &-card {
    text-align: center;
    padding: 20px;
    .wrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-add {
      font-size: 16px;
      .fa-cart-plus {
        margin-left: 8px;
      }
      color: #000;
      background-color: map-get($map: $bg-color, $key: accent);
      margin-top: 10px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }
    .btn-add:hover {
      transform: translateY(-5px);
      background-color: map-get($map: $btn-color, $key: primary);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }
    .btn-add:active {
      background-color: map-get($map: $btn-color, $key: active);
      transition: all 0s ease 0s;
    }
  }
  &-name {
    font-size: 18px;
    margin: 10px 0;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-desc {
    color: map-get($map: $color, $key: normal);
    line-height: 1.25;
  }
  &-price {
    color: #f13636 !important;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    &-discount {
      color: map-get($map: $color, $key: secondary);
      margin-left: 10px;
      text-decoration: line-through;
    }
  }
  &-detail-wrap {
    padding: 100px 0;
    .title {
      margin-bottom: 8px;
      span {
      display: inline-block;
      width: 100px;
      color: map-get($map: $color, $key: secondary);
      }
    }
    .product-card {
      @include flex-style(flex, true, true, true);
      .btn-add {
        color: map-get($map: $color, $key: default);
        background-color: map-get($map: $btn-color, $key: primary);
      }
      .btn-add:active {
        background-color: map-get($map: $btn-color, $key: active);
        transition: all 0s ease 0s;
      }
    }
    .product-wrap-content {
      overflow: hidden;
      border: 1px solid map-get($map: $bd-color, $key: default);
      border-radius: 10px;
      padding: 30px;
      margin-top: 30px;
    }
    .product-image {
      width: 300px;
      height: 100%;
      object-fit: cover;
      margin-right: 50px;
    }
    .btn {
      margin-top: 20px;
    }
  }
}
